<!--DEV

@ @include('blocks/news-single/news-single.html')

-->

<div class="news-single">
    <div class="news-single-wrap">


    <!-- /.news-single-wrap -->
    <div class="new-single-img">
        <img src="img/img-news-photo-1.jpg" alt="image">
    </div>
    <!-- /.new-single-img -->
    <h1>Ентузіасти роблять північ України електромобільною</h1>
    <span class="icon-calendar">12.07.2017</span><span class="icon-user">Роман Мрозакевич</span>
    </div>
    <div class="news-single-text">
        <p>
            Півтора місяці назад в місті Батурині була відкрита перша зарядка для електромобілів в рамках проекту
            EV-net, а вже протягом 2-х тижнів планується запустити вже 15-ту зарядку на Півночі України. <br><br>
            Проект EV-net був започаткований групою ентузіастів із автоклубів «ElectrocarsClub» та «Електро-Автосам»
            для розвитку електромобільної інфраструктури в Україні. Встановлення зарядних станцій почали з Півночі
            оскільки цей район був зовсім не покритий. І вже за півтора місяці на карті з«явилося 7 нових зарядок:
            в Козельці, Вертіївці, Батурині, дві у Глухові, Конотопі та Воронцові.<br><br>
            Через декілька днів запрацює зарядна станція у Новгороді-Сіверському. А вже протягом двох тижнів повинні
            запрацювати ще 7 станцій: Прилуках, Ромнах, Сумах, Охтирці.<br><br>
            Мені та дві у Чернігові. Всі зарядні станції безкоштовно встановлюються у партнерів — це, переважно,
            готелі, ресторани або публічні місця. В свою чергу партнери безкоштовно заряджають електромобілі і,
            як наслідок, отримують додаткових клієнтів для свого бізнесу.<br><br>
            Окрім Півночі, в рамках проекту EV-net також вже було встановлено 6 зарядних станцій в інших регіонах
            України: Краснограді, Лубнах, Бердичеві, Вінниці, Хмельницькому та Кам«янець-Подільському.
        </p>
    </div>
    <!-- /.news-single-text -->
</div>
<!-- /.news-single -->