// В этом файле должны быть стили для БЭМ-блока news-single, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news-single {

  $block-name:                &; // #{$block-name}__element {}
  background: #fff;
  padding:24px;
  padding-left:48px;
  h1{
    font-size: 38px;
    line-height: 1.16;
    margin-top:15px;
    margin-bottom:20px;
  }
  .icon-calendar, .icon-user{
    display: inline-block;
    color: rgba(77, 77, 77, 0.9);
    font-size:14px;
    margin-right:15px;
    &:before{
      color: #999;
      margin-right:5px;
    }
  }
}

.new-single-img{
  float: right;
  width: 645px;
  height: 320px;
  margin-bottom:25px;
  img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.news-single-text{
  clear: both;
  border-top: 1px solid #dededd;
  padding-top: 30px;
  p{
    font-size: 16px;
    line-height: 1.5;
  }
}
