// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$border-color: #dededd !default;

.pagination {

  $block-name: &;
  // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &-item {
    display: block;
    padding: 10px;
    min-width: 2.5em;
    border: 1px solid $border-color;
    text-decoration: none;
    text-align: center;
    background: #fff;
    margin: 0 3px;
    &:hover,
    &:focus {
      text-decoration: none;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        border-color: $color-main;
      }
    }

    &.active {
      background-color: $color-main;
      border-color: $color-main;
      color: #ffffff;
    }
  }
}
