<!--DEV

@ @include('blocks/pagination/pagination.html')

-->

<div class="pagination">
    <a href="" class="pagination-item">←</a>
    <a href="" class="pagination-item">1</a>
    <a href="" class="pagination-item">2</a>
    <a href="" class="pagination-item">...</a>
    <a href="" class="pagination-item">11</a>
    <a href="" class="pagination-item">→</a>
</div>
