// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;



.breadcrumbs {

  $block-name:                &;
  // #{$block-name}__element
  font-size:13px;
  padding: 0;
  list-style: none;
  margin: $line-height 0;

  &-item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '';
      display: inline-block;
      margin-left: 0.8em;
      width: 5px;
      height: 5px;
      border-right: 1px solid #1c78ad;
      border-top: 1px solid #1c78ad;
      transform: rotate(45deg);
      transform-origin: 50% 0%;
    }
  }

  &-link {
    color: #1c78ad;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #1c78ad;
      text-decoration: none;
    }
  }
}
