<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/breadcrumbs/breadcrumbs.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<ul class="breadcrumbs">
  <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Проекты</a></li>
  <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">EV-Net</a></li>
  <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">EV-Net</a></li>
</ul>
