
$transition-time:             0.3s !default;

.progress {
  margin: 55px 0 35px;
  background-color: #dededd;
  height: 4px;
  &-bar {
    background-color: #d23d3d;
    height:100%;
    max-width: 100%;
    transition: width $transition-time;
  }
}

