<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-header/page-header.html')

-->
<header class="page-header-wrap" role="banner">
    <div class="container">
        <div class="page-header">
            @@include('../logo/logo.html')
            <div class="contact-number">
                <p><img src="img/ic-kyivstar-white-16-x-16.svg" alt="image">+38 (098) 431 32 53</p>
                <p><img src="img/ic-vodafone-16-16.svg" alt="image">+38 (095) 207 08 18</p>
            </div>
            <div class="hamburger">
                <span><img src="img/ic-hamburger-32-x-32-white.svg" alt="image"></span>
            </div>
            <!-- /.gamburger -->
            <nav class="navigation">
                @@include('../logo/logo.html')
                <!--<span class="close">X</span>-->
                @@include('../close/close.html')
                <a href="index.html">Головна</a>
                <a href="category.html">Купити обладнання</a>
                <a href="about-us.html">Про нас</a>
                <a href="projects.html">Проекти</a>
                <a href="news.html">Новини</a>
                <a href="contacts.html">Контакти</a>
            </nav>
        </div>
    </div>
</header>
