.hamburger {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}
.close{
  display: none;
}

.page-header-wrap {
  background: $color-main;
  padding: 39px 0;
}

.page-header {
  display: flex;
  align-items: center;
  .logo {
    margin-right: 55px;
  }
}

.contact-number {
  border-left: 2px solid $white;
  padding-left: 10px;
  img {
    margin-right: 5px;
  }
  p {
    color: $color-success;
    font-family: $font-Roboto;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  p:first-child {
    padding-bottom: 5px;
  }
}

.navigation {
  display: block;
  z-index:100;
  a {
    display: inline-block;
    margin-left: 34px;
    text-transform: uppercase;
    color: $color-success;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: $font-Roboto;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
  .logo{
    display: none;
  }
}

@media (max-width: 1200px) {
  .page-header-wrap{
    padding: 20px 0;
    position: relative;
  }
  .navigation {
    padding: 21px 0 28px 25px;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    height:100%;
    width: 312px;
    background: $white;
    transition: transform ease .3s;
    display: block;
    transform: translateX(-100%);
    &.open{
      transform: translateX(0);
    }
    .logo {
      display: block;
      margin: 0 0 40px 0;
      padding: 0 15px 25px;
      border-bottom: 2px solid $light-blue ;
      path {
        fill: $light-blue;
      }
    }
    .close {
      display: flex;
      position: absolute;
      top: 27px;
      right: 15px;
    }
    a {
      display: block;
      color: $main-text-color;
      margin: 0 0 28px 55px;
    }
  }
  .hamburger {
    display: block;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .page-header-wrap{
    padding: 17px 0;
  }
  .hamburger{
    width:24px;
    height:24px;
    img{
      width:100%;
    }
  }
  .page-header {
    margin-left: 5px;
  }
  .logo {
    svg {
      width: 166px;
      height: 25px;
    }
  }
}

@media (max-width: 560px) {
  .contact-number{
    display: none;
  }
  .page-header{
    .hamburger{
      top: 32px;
    }
  }
  .page-header .navigation{
    .logo{
      margin-left: 15px;
      padding-bottom: 17px;
      padding-left: 0;
      svg{
        width: 140px;
        height: 21px;
      }
    }
  }
  .page-header{
    .navigation{
      width: 240px;
      padding: 17px 0 15px;
      .close{
        top: 15px;
      }
      a{
        margin: 0 0 25px 35px ;
      }
    }
  }
}



