.category-filter {
  padding-top: 45px;
  padding-right:10px;
  $block-name: &; // #{$block-name}__element {}
  position: relative;
  min-width: 190px;
  flex-shrink: 0;
  z-index:10;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:3000px;
    background: #fff;
    z-index:-1;
  }
  p {
    color: $main-text-color;
    font-size: 16px;
    font-family: $font-exo;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .icon-filter-clear{
    color: $color-main;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
    &:before{
      text-decoration: none;
      font-size: 28px;
      margin:0;
    }
  }
}

.category-filter-item{
  margin-top:15px;
  border-top: 1px solid #dededd;
  padding-top:12px;
  p{
    text-transform: uppercase;
    font-size:16px;
    margin-bottom: 15px;
  }
  .styled-checkbox{
    margin-bottom:0;
  }
  li{
    margin-bottom: 8px;
  }
  .filter-count{
    color: $lighten-gray;
    font-size:14px;
    display: inline-block;
    margin-left: 5px;
  }
  .nouislider{
    margin-bottom:50px;
  }
}
