<!--DEV

@ @include('blocks/category-filter/category-filter.html')

-->

<div class="category-filter">
    <span class="close" aria-label="Закрыть"><span></span></span>
    <form>
        <a href="#" class="icon-filter-clear">Скинути усі фільтри</a>
        <div class="category-filter-item">
            <p>Тип зарядки <span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="1">
                        <label for="1">
                            Настінна
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="2">
                        <label for="2">
                            Стовпчик
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="3">
                        <label for="3">
                            Переносна
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="4">
                        <label for="4">
                            Швидкісна
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>
            </ul>
        </div>
        <div class="category-filter-item">
            <p>Тип конектора <span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="11">
                        <label for="11">
                            Розетка
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="22">
                        <label for="22">
                            Кабель
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>

            </ul>
        </div>
        <div class="category-filter-item">
            <p>Потужність<span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="12">
                        <label for="12">
                            3 кВи (АС)
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(8)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="21" в>
                        <label for="21">
                            7 кВт (AC)
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="134" disabled>
                        <label for="134">
                            22 кВт (AC)
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>

            </ul>
        </div>
        <!-- /.category-filter-item -->
        <div class="category-filter-item">
            <p>Кількість портів<span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="122">
                        <label for="122">
                            1 порт
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(8)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="223">
                        <label for="223">
                            2 та більше
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>

            </ul>
        </div>
        <!-- /.category-filter-item -->
        <div class="category-filter-item">
            <p>RFID<span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="82">
                        <label for="82">
                            Так
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(8)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="81">
                        <label for="81">
                            Ні
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>

            </ul>
        </div>
        <!-- /.category-filter-item -->
        <div class="category-filter-item">
            <p>Замок<span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="72">
                        <label for="72">
                            Так
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(8)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="71">
                        <label for="71">
                            Ні
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>

            </ul>
        </div>
        <!-- /.category-filter-item -->
        <div class="category-filter-item">
            <p>Smart-зарядка<span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <ul>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="62">
                        <label for="62">
                            Так
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(8)</span>
                </li>
                <li>
                    <div class="styled-checkbox">
                        <input type="checkbox" id="61">
                        <label for="61">
                            Ні
                        </label>
                    </div>
                    <!-- /.styled-checkbox -->
                    <span class="filter-count">(12)</span>
                </li>

            </ul>
        </div>
        <!-- /.category-filter-item -->
        <div class="category-filter-item">
            <p>Ціна, у.о.<span class="tooltip-btn" data-remodal-target="modalInfo">?</span>
                <!-- /.tooltip-btn -->
            </p>
            <div class="nouislider" id="slider"></div>
        </div>
        <!-- /.category-filter-item -->
    </form>
    <script>

    </script>
    <div class="remodal modal-info" data-remodal-id="modalInfo">
        <div class="modal-header">
            <span class="close" aria-label="Закрыть" data-remodal-action="close"><span></span></span>
            <h2>Тип конектора <span class="tooltip-btn">?</span></h2>
        </div>
        <!-- /.modal-header -->
        <div class="modal-body">
            <p>Є два типи конекторів для зарядок:</p>
            <ul>
                <li>
                    <h3>1. Кабель </h3>
                    <p>
                        <strong>Переваги:</strong> якщо у зарядній станції вмонтований кабель, то це cпрощує процес
                        зарядки для власника автомобіля - потрібно просто вставити зарядний кабель у автомобіль. Не
                        потрібно ніяких перехідників. <br><br>
                        <strong>Недоліки:</strong> зарядні кабелі не універсальні. Якщо у зарядки кабель типу Type1, то
                        цим кабелем не зможуть зарядитися деякі електромобілі, напр: Tesla, Renault Zoe, тощо.
                    </p>
                </li>
                <li>
                    <h3>2. Розетка </h3>
                    <p>
                        <strong>Переваги:</strong> розетка - це універсальний конектор. Більшість електромобілістів
                        мають власні перехідники, тому встановивши зарядку із розеткою Type2, до неї зможе підключитися
                        більшість електромобілів.<br><br>
                        <strong>Недоліки:</strong> основний недолік розеток це те, що власникам електромобіля для того,
                        щоб приєднатися до зардяки, потрібно діставати власний кабель.
                    </p>
                </li>
            </ul>
        </div>
        <!-- /.modal-body -->
    </div>
</div>
