.btn {
  color: $light-white;
  letter-spacing: 0.4px;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.3s background;
  border: none;
  font-size:16px;
  cursor: pointer;
  display: inline-block;
}

.btn-default {
  background: $dark-red;
  font-family: $font-Roboto;
  font-weight: 700;
  min-width: 290px;
  padding: 0 15px;
  height: 48px;
  line-height: 48px;
  &:hover {
    background: #ee3730;
  }
  &[disabled] {
    background: #dededd;
    cursor: default;
  }
}

.btn-secondary {
  max-width: 195px;
  height: 36px;
  line-height: 36px;
  background: #1c7aae;
  padding: 0 15px;
  &:hover {
    background: #2b9ed2;
  }
}