// В этом файле должны быть стили для БЭМ-блока category-block, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.category-block {

  $block-name: &; // #{$block-name}__element {}
  width: 100%;
  padding: 50px 0;
  padding-left: 80px;
  h1 {
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 33px;
  }
  .btn{
    float: right;
    display: none;
  }
}

.category-item {
  background: #ffffff;
  padding: 8px;
  padding-right: 32px;
  border: 2px solid #dededd;
  margin-bottom: 24px;
  cursor: pointer;
  transition: border ease 0.3s, box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
  &:hover {
    border-color: $color-main;
    box-shadow: 0 13px 18px -7px rgba(0, 0, 0, 0.3);
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h2{
    margin-top: 15px;
    font-family: $font-exo;
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-bottom:10px;
  }
}
.category-item-price{
  float: right;
  font-family:$font-Roboto;
  font-weight:700;
}
.category-item-description{
  color: $color-main;
  max-width: 630px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom:10px;
}
.category-item-img {
  width: 216px;
  height: 216px;
  float: left;
  text-align: center;
  position: relative;
  margin-right: 32px;
  img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.category-item-info{
  p{
    margin-bottom:8px;
    line-height:1.5;
  }
  strong{
    font-weight:700;
  }
  span{
    color: #999999;
  }
}