<div class="category-block">
    <ul class="breadcrumbs">
        <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Обладнання</a></li>
        <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Зарядки</a></li>

    </ul>
    <h1>
        Зарядки
        <button class="btn btn-secondary filter-toggler icon-filter">Фільтри</button>
    </h1>
    <div class="category-item">
        <div class="category-item-img">
            <img src="img/img-catalogue-1.jpg" alt="image">
        </div>
        <!-- /.category-item-img -->
        <h2>Octa Wall  (B122-SL-RFID)
            <span class="category-item-price">$500</span>
        <!-- /.category-item-price -->
        </h2>
        <div class="category-item-description">
            Настінна зарядка з можливістю online-керування та online-моніторингу
        </div>
        <!-- /.category-item-description -->
        <div class="category-item-info">
            <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
            <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
            <p><strong>RFID </strong> ідентифікація</p>
        </div>
        <!-- /.category-item-info -->
    </div>
    <!-- /.category-item -->
    <div class="category-item">
        <div class="category-item-img">
            <img src="img/img-catalogue-1.jpg" alt="image">
        </div>
        <!-- /.category-item-img -->
        <h2>Octa Wall  (B122-SL-RFID)
            <span class="category-item-price">$500</span>
            <!-- /.category-item-price -->
        </h2>
        <div class="category-item-description">
            Настінна зарядка з можливістю online-керування та online-моніторингу
        </div>
        <!-- /.category-item-description -->
        <div class="category-item-info">
            <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
            <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
            <p><strong>RFID </strong> ідентифікація</p>
        </div>
        <!-- /.category-item-info -->
    </div>
    <div class="category-item">
        <div class="category-item-img">
            <img src="img/img-catalogue-1.jpg" alt="image">
        </div>
        <!-- /.category-item-img -->
        <h2>Octa Wall  (B122-SL-RFID)
            <span class="category-item-price">$500</span>
            <!-- /.category-item-price -->
        </h2>
        <div class="category-item-description">
            Настінна зарядка з можливістю online-керування та online-моніторингу
        </div>
        <!-- /.category-item-description -->
        <div class="category-item-info">
            <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
            <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
            <p><strong>RFID </strong> ідентифікація</p>
        </div>
        <!-- /.category-item-info -->
    </div>
    <div class="category-item">
        <div class="category-item-img">
            <img src="img/img-catalogue-1.jpg" alt="image">
        </div>
        <!-- /.category-item-img -->
        <h2>Octa Wall  (B122-SL-RFID)
            <span class="category-item-price">$500</span>
            <!-- /.category-item-price -->
        </h2>
        <div class="category-item-description">
            Настінна зарядка з можливістю online-керування та online-моніторингу
        </div>
        <!-- /.category-item-description -->
        <div class="category-item-info">
            <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
            <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
            <p><strong>RFID </strong> ідентифікація</p>
        </div>
        <!-- /.category-item-info -->
    </div>
    <div class="pagination">
        <a href="" class="pagination-item">←</a>
        <a href="" class="pagination-item">1</a>
        <a href="" class="pagination-item">2</a>
        <a href="" class="pagination-item">...</a>
        <a href="" class="pagination-item">11</a>
        <a href="" class="pagination-item">→</a>
    </div>
</div>
