.news-filter {
  padding-top: 90px;
  padding-right:40px;
  $block-name: &; // #{$block-name}__element {}
  position: relative;
  z-index:10;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    right:0;
    height:100%;
    width:3000px;
    background: #fff;
    z-index:-1;
  }
  p {
    color: $main-text-color;
    font-size: 16px;
    font-family: $font-exo;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

