<div class="news-filter">
    <span class="close" aria-label="Закрыть"><span></span></span>
    <p>Категорії:</p>
    <ul>
        <li>
            <div class="styled-checkbox">
                <input type="checkbox" id="1">
                <label for="1">
                    EV-net
                </label>
            </div>
        </li>
        <li>
            <div class="styled-checkbox">
                <input type="checkbox" id="2">
                <label for="2">
                    EcoTown
                </label>
            </div>
        </li>
        <li>
            <div class="styled-checkbox">
                <input type="checkbox" id="3">
                <label for="3">
                    Пробіги
                </label>
            </div>
        </li>
        <li>
            <div class="styled-checkbox">
                <input type="checkbox" id="4">
                <label for="4">
                    Обладнання
                </label>
            </div>
            <!-- /.styled-checkbox -->

        </li>
    </ul>
</div>
