<div class="project-section">
    <div class="container">
        <h1>Проекти</h1>
        <p>Частина прибутків магазину Faraday.in.ua витрачається на наступні проекти:</p>
        <div class="project-item-wrap">
            <a href="#" class="project-item">
                <div class="project-item-img">
                    <img src="img/img-project-mini-1@2x.jpg" alt="image">
                    <div class="project-item-title">
                        <h2>EV-Net</h2>
                        <span>Інфраструктурні проекти</span>
                    </div>
                    <!-- /.project-item-title -->

                </div>
                <p>EV-net — всеукраїнська мережа зарядних станцій з кроком 80 км і дозволеною потужністю 22 кВт</p>
                <!-- /.project-item-img -->
                <span class="detail-link">Детальніше</span>
            </a>
            <!-- /.project-item -->
            <a href="#" class="project-item">
                <div class="project-item-img">
                    <img src="img/img-project-mini-3@2x.jpg" alt="image">
                    <div class="project-item-title">
                        <h2>Електромарафони</h2>
                        <span>Електромарафони та пробіги</span>
                    </div>
                </div>
                <p>
                    Електромарафони — інформаційно-мотиваційні заходи, які показують українцям, що електротранспором
                    можна
                </p>
                <!-- /.project-item-img -->
                <span class="detail-link">Детальніше</span>
            </a>
            <!-- /.project-item -->
            <a href="#" class="project-item">
                <div class="project-item-img">
                    <img src="img/img-project-mini-2@2x.jpg" alt="image">
                    <div class="project-item-title">
                        <h2>EcoTown</h2>
                        <span>Інформаційні проекти</span>
                    </div>
                </div>
                <p>
                    EcoTown - це найпопулярніший український інформаційний ресурс про відновлювані
                    джерела енергії, енергозбереження та електротранспорт
                </p>
                <!-- /.project-item-img -->
                <span class="detail-link">Детальніше</span>
            </a>
            <a href="#" class="project-item">
                <div class="project-item-img">
                    <img src="img/img-project-mini-4@2x.jpg" alt="image">
                    <div class="project-item-title">
                        <h2>ElectrocarsClub</h2>
                        <span>Клуб електомобілістів</span>
                    </div>
                </div>
                <p>
                    ElectrocarsClub - це ком'юніті, що об'єднуює різнофахових спеціалістів, які допомагають українцям
                    вирішувати проблемні питання в галузі електротранспорту та електроінфраструктури
                </p>
                <!-- /.project-item-img -->
                <span class="detail-link">Детальніше</span>
            </a>
            <!-- /.project-item -->
        </div>
        <!-- /.project-item-wrap -->

    </div>
    <!-- /.container -->
</div>
