.project-section {
  padding: 80px 0;
  background: $bg-gray;
  h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}

.project-item-wrap {
  display: flex;
  justify-content: center;
  margin: 0 -7px;
}

.project-item {
  margin: 0 7px 14px;
  background: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  padding-bottom: 40px;
  max-width: 280px;
  text-decoration: none;
  position: relative;
  border: 2px solid transparent;
  transition: border ease .3s, box-shadow ease .3s;
  &:hover {
    border: 2px solid $color-main;
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .detail-link {
    position: absolute;
    bottom: 20px;
    left: 25px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    padding: 0 8px;
  }
  a {
    padding: 0 8px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.project-item-img {
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba(28, 122, 174, 0.18), rgba(0, 17, 26, 0.72));
  }
  img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
  }
}

.project-item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  color: #ffffff;
  opacity: 0.9;
  z-index: 3;
  letter-spacing: 0.5px;
  h2 {
    font-family: $font-exo;
    font-size: 25px;

    margin-bottom: 5px;
  }
  span {
    text-transform: uppercase;
    font-size: 12px;
  }
}

