<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/equipment/equipment.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<div class="equipment-section">

        <div class="equipment-wrap">
            <div class="charging-station equipment">
                <h3>Зарядні станції</h3>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-wall-64-x-64.svg" alt="image">
                    <p>Настінні
                    </p>
                </a>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-portable-64-x-64.svg" alt="image">
                    <p>Переносні
                    </p>
                </a>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-tall-64-x-64.svg" alt="image">
                    <p>Стовбчики
                    </p>
                </a>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-quick-64-x-64.svg" alt="image">
                    <p>Швидкістні
                    </p>
                </a>
                <!-- /.type-station -->
            </div>
            <div class="accessories equipment">
                <h3>Комплектуючі</h3>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-cable-64-x-64.svg" alt="image">
                    <p>Зарядні кабелі
                    </p>
                </a>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-tower-64-x-64.svg" alt="image">
                    <p>Стійки
                    </p>
                </a>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-limiter-64-x-64.svg" alt="image">
                    <p>Обмежувачі
                    </p>
                </a>
                <a href="#" class="type-station">
                    <img src="img/ic-charger-sign-64-x-64.svg" alt="image">
                    <p>Знаки
                    </p>
                </a>
            </div>
            <!-- /.selection-equipment -->
        </div>
        <div class="selection-equipment">
            <h3>Яке обладнання підійде саме для вас?</h3>
            <p>Скористайтеся зручним online-помічником, який допоможе підібрати обладнання саме для ваших потреб.</p>
            <button class="btn btn-default">Підібрати обладнання</button>
        </div>

</div>

