
.equipment-section {
  padding-bottom: 80px;
  h3 {
    font-family: Exo;
    font-size: 25px;
    line-height: 1.28;
    letter-spacing: 0.5px;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
  }
}

.type-station {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px 0;
  margin: 0 10px 25px;
  transition: .3s all;
  &:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);;
    transition: .1s all;
  }
  img {
    margin-right: 25px;
  }
  p {
    text-align: center;
  }
}

.selection-equipment {
  background: $bg-gray;
  box-shadow: 0 13px 18px -7px rgba(0, 0, 0, .3);
  margin: 0 auto;
  padding: 17px 20px 25px;
  .btn {
    display: block;
    margin: 0 auto;
  }
  h3 {
    font-size: 21px;
    line-height: 28px;
    padding-bottom: 10px;
  }
  p {
    text-align: center;
    padding-bottom: 25px;
    line-height: 1.5;
    letter-spacing: 0.2px;
  }
}

.equipment-wrap, .selection-equipment {
  max-width: 970px;
}

.equipment-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -40px auto 0;
  background: $white;
  border: 1px solid $light-gray;
  border-bottom: 0;
  padding: 15px 0;
  .equipment {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .charging-station {
    border-right: 1px solid $light-gray;
  }
}

