<div class="project-single-section">
    <div class="container">

        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Проекты</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">EV-Net</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">EV-Net</a></li>
        </ul>
        
        <div class="project-single-block">
            <div class="project-single-img" style="">
                <div class="project-single-info">
                    <span>інфрастуктурні проекти</span>
                    <h1>EV-Net</h1>
                    <p>
                        Мережа зарядних станцій
                        EV-net — це спільний проект громадських організацій «ElectrocarsClub»
                        та «Електро-Автосам»
                    </p>
                </div>
                <img src="img/img-project-ev-net.jpg" alt="image">
                <!-- /.project-single-info -->
            </div>
            <!-- /.project-single-img -->
            <div class="project-single-text">
                <img src="img/img-project-2-nd-photo@2x.jpg" alt="image">
                <p>Зарядні станції встановлюються з кроком у 80 км в п'яти основних напрямках від Києва. 
                    На більшості зарядних станцій можна заряджатися безкоштовно. 
                    При цьому, більшість станцій було встановлено за кошти клубників. <br>
                    <br>
                    При виборі місць для встановлення зарядок перевага надається туристично-привабливим напрямкам із 
                    найменш розвинутою електромобільною інфраструктурою.
                </p>
                <a href="#">Більше новин про EV-net</a>

            </div>
            <!-- /.project-single-text -->
        </div>
        <!-- /.project-single-block -->

    </div>
    <!-- /.container -->
</div>