.project-single-section {
  background: $bg-gray;
  padding: 45px 0 80px;
  .breadcrumbs {
    margin-bottom: 68px;
  }
}

.project-single-block {

}

.project-single-img {
  position: relative;
  padding: 112px 0;
  margin-bottom:40px;
  margin-left:200px;
  img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.project-single-info {
  color: $light-white;
  background: $color-main;
  max-width: 420px;
  padding: 50px 55px;
  margin-left: -200px;
  letter-spacing: 0.5px;
  position: relative;
  z-index:10;
  span {
    text-transform: uppercase;
    font-size: 12px;

  }
  h1 {
    color: $light-white;
    margin-bottom: 10px;
  }
  p{
    font-size:21px;
    font-family: $font-exo;
    line-height: 1.4;
  }
}
.project-single-text{
  padding-left:200px;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  img{
    max-width: 370px;
    float: right;
    margin-left: 30px;
  }
  p{
    font-size: 16px;
    line-height: 1.5;
    color: $main-text-color;
    margin-bottom:20px;
  }
  a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}