<div class="news-block">
    <h1>
        Новини
        <button class="btn btn-secondary toggle-news-filter icon-filter">Категорії</button>
    </h1>
    <a href="#" class="news-item">
        <div class="news-item-img">
            <img src="img/img-news-photo-2.jpg" alt="image">
        </div>
        <!-- /.news-item-img -->
        <span class="news-item-category">
            EV-net
        </span>
        <!-- /.news-item-category -->
        <h2>Ентузіасти роблять Північ України електромобільною</h2>
        <p>
            Півтора місяці назад в місті Батурині була відкрита перша зарядка для електромобілів в рамках
            проекту EV-net, а вже протягом 2-х тижнів планується запустити вже 15-ту зарядку на Півночі України.
        </p>
        <span class="news-item-date">
            12.07.2017
        </span>
        <!-- /.news-item-date -->
    </a>
    <!-- /.news-item -->
    <a href="#" class="news-item">
        <div class="news-item-img">
            <img src="img/img-news-photo-2.jpg" alt="image">
        </div>
        <!-- /.news-item-img -->
        <span class="news-item-category">
            EV-net
        </span>
        <!-- /.news-item-category -->
        <h2>Ентузіасти роблять Північ України електромобільною</h2>
        <p>
            Півтора місяці назад в місті Батурині була відкрита перша зарядка для електромобілів в рамках
            проекту EV-net, а вже протягом 2-х тижнів планується запустити вже 15-ту зарядку на Півночі України.
        </p>
        <span class="news-item-date">
            12.07.2017
        </span>
        <!-- /.news-item-date -->
    </a>
    <!-- /.news-item -->

    <div class="pagination">
        <a href="" class="pagination-item">&larr;</a>
        <a href="" class="pagination-item active">1</a>
        <a href="" class="pagination-item">2</a>
        <a href="" class="pagination-item">...</a>
        <a href="" class="pagination-item">11</a>
        <a href="" class="pagination-item">&rarr;</a>
    </div>

</div>
