.news-block {
  padding: 80px 40px;
  background: $bg-gray;
  h1 {
    font-size: 38px;
    margin-bottom: 25px;
  }
  .btn{
    display: none;
  }
}

.news-item {
  text-decoration: none;
  background: #ffffff;
  padding: 8px;
  display: block;
  border: solid 2px transparent;
  transition: border ease 0.3s, box-shadow ease 0.3s;
  &:hover {
    border: solid 2px #1c7aae;
    box-shadow: 0 13px 18px -7px rgba(0, 0, 0, 0.3);
  }
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  h2 {
    font-size: 25px;
    font-family: $font-exo;
    margin-bottom: 25px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

.news-item-img {
  width: 316px;
  height: 320px;
  margin-right: 45px;
  float: left;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.news-item-category {
  display: block;
  padding-top: 20px;
  color: $color-main;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.news-item-date {
  font-size: 14px;
  color: $lighten-gray;
}