<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/page-footer/page-footer.html')

-->
<footer class="page-footer" role="contentinfo">
    <div class="container">

        <div class="link-company">
            <a href="#" class="link-site">© Faraday.in.ua</a>
                <a href="#" class="facebook icon-fb"><span>Ми у Facebook</span></a>
                <div class="numbers-phone">
                    <a href="#" class="number-phone icon-phone">+38 (095) 207-08-18<span>,</span></a><a href="#" class="number-phone"> +38 (098) 431-32-53</a>
                </div>
                <!-- /.numbers-phone -->
                <a href="#" class="envelop icon-mail"><span>info@faraday.in.ua</span></a>
        </div>
        <!-- /.company-social -->
    </div>
</footer>
<div class="overlay"></div>
