// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
  padding: 43px 0;
  box-shadow: inset 0 1px 0 0 #d8d8d8;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;

}

.link-site {
  margin-right: 80px;
  text-transform: uppercase;
  font-family: $font-Roboto;
  font-weight: 700;
  font-size: 13px;
  color: $lighten-gray;
}

.link-company {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  a {
    margin-right: 50px;
    color: $lighten-gray;
    line-height: 1.25;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    text-decoration: none;
    span {
      text-decoration: underline;
    }
    &:hover {
      span {
        text-decoration: none;
      }
    }
    &:before {
      font-size: 25px;
      margin-right: 10px;
    }
    &.icon-phone {
      &:before {
        position: absolute;
        left: 0;
      }
    }
  }
  a:nth-child(3) {
    margin-right: 5px;
  }
}

.numbers-phone {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
  a:nth-child(1) {
    margin-right: 5px;
    padding-left: 30px;
  }
  a:nth-child(2) {
    padding-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .link-company {
    a {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    .link-site {
      width: 100%;
    }
  }
  .link-site {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .link-company {
    .link-site, .facebook {
      width: 50%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .envelop {
      margin-top: 10px;
    }
  }
}

@media (max-width: 425px) {
  .page-footer {
    .link-company {
      .number-phone {
        padding-left: 38px;
      }
      a{
        font-size:15px;
      }
    }
  }
}
