<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/contacts/contacts.html')

(Нужно убрать пробел между символами @)
Подробнее: https://www.npmjs.com/package/gulp-file-include

-->

<div class="contacts-section">
    <div class="container">
        <h1>Контакти</h1>
        <div class="contacts-block">
            <div class="contacts-info">
                <p>Щодо замовлення зарядних станцій:</p>
                <ul class="contact-item icon-phone">
                    <li><a href="tel:+380984313253">+38 (095) 207–08–18</a>, </li>
                    <li><a href="tel:+380984313253">+38 (098) 431–32–53</a></li>
                    <li><p>Володимир</p></li>
                </ul>

                <p>Щодо роботи сайту та загальних питань:</p>
                <div class="contact-item icon-phone">
                    <a href="tel:+380500745465">+38 (050) 074–54–65</a>

                    <p>Роман</p>
                </div>
                <div class="contact-mail icon-mail">
                    <a href="#">info@faraday.in.ua</a>
                </div>
                <!-- /.contact-mail -->
            </div>
            <!-- /.contacts-info -->
            <div class="contacts-img">
                <img src="img/img-contacts.svg" alt="image">
            </div>
            <!-- /.contacts-img -->
        </div>
        <!-- /.contacts-block -->
    </div>
    <!-- /.container -->
</div>
