// В этом файле должны быть стили для БЭМ-блока contacts, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-section {
  background: $bg-gray;
  position: relative;
  z-index:1;
  padding: 80px 0;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width:50%;
    left:0;
    top:0;
    height:100%;
    background: #fff;
    z-index:-1;
  }
  h1{
    text-align: center;
    margin-bottom:40px;
  }
}

.contacts-block{
  display: flex;
  justify-content: center;
  .contacts-info{
    width:50%;
    max-width: 400px;
    padding-right:60px;
  }
  .contacts-img{
    width:50%;
    max-width: 400px;
    text-align: center;
    padding-left:60px;
  }
}
.contacts-info{
  p{
    margin-bottom:20px;
    font-size:16px;
    line-height:1.5;
  }
}
.contact-item{
  font-family: $font-exo;
  font-size:16px;
  padding-left: 40px;
  position: relative;
  line-height: 1.5;
  a{
    text-decoration: none;
  }
  &:before{
    position: absolute;
    top:0;
    left:0;
    font-size: 28px;
    margin:0;
    color: $color-main;
  }
  p{
    font-family: $font-Roboto;
    margin-top:10px;
  }
}
.contact-mail{
  border-top: 1px solid #dededd;
  padding-top:28px;
  &:before{
    font-size:28px;
    margin-left:0;
    color: $color-main;
    vertical-align: middle;
  }
  a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}