// В этом файле должны быть стили для БЭМ-блока close, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.close {

  display: none;
  position: relative;
  z-index: 1;
  align-items: center;
  width: 25px;
  height: 25px;
  user-select: none;
  cursor: pointer;

  > span {
    display: inline-block;
    width: 100%;
    height: $toggler-part-height;
    background: transparent;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $light-gray;
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}
