.about-us {
  padding: 80px 0;
}

.about-us-block {
  display: flex;
}

.about-us-main {
  width: 50%;
  margin-right: 45px;
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.about-us-info {
  padding-left: 125px;
  position: relative;
  margin: 60px 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 102px;
  }
  h2 {
    font-size: 25px;
    font-family: $font-exo;
    margin-bottom: 18px;
  }
}

.about-us-team {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h2 {
    font-size: 25px;
    font-family: $font-exo;
    margin-bottom: 24px;
    color: #1c78ad;
    width: 100%;
  }
  .team-item {
    width: 256px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
    position: relative;
    .detail-link{
      position: absolute;
      bottom:0;
      left:0;
    }
    p{
      font-size: 16px;
      line-height: 1.5;
      padding-right: 5px;
      margin-bottom:10px;
    }
  }
  .team-item-img {
    height: 336px;
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #f5f7fa;
      transform: translate(-17px, 17px);
      z-index: -1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.team-item-name {
  font-family: $font-exo;
  letter-spacing: 0.5px;
  font-size: 21px;
  margin-bottom: 10px;
}

.team-item-profile {
  padding: 7px 0;
  padding-left: 30px;
  display: inline-block;
  background: url(../img/ic-facebook-24-x-24-llight-hovered.svg) no-repeat left center;
  margin-bottom:10px;
}