<div class="about-us">
<div class="container">
    <div class="about-us-block">
        <div class="about-us-main">
            <h1>Про нас</h1>
            <p>
                Faraday.in.ua - це спільний проект клубу електромобілістів <a href="#">ElectrocarsClub</a>
                та інформаційного ресурсу <a href="#">EcoTown.com.ua</a>
            </p>
            <div class="about-us-info">
                <h2>Чому ми це робимо</h2>
                <img src="img/img-battery.svg" alt="image">
                <p>
                    Наша мета - сприяти переходу України від нафтової залежності до відновлюваних джерел енергії.
                    <br>
                    <br>
                    І ми віримо, що зручна електромобільна інфраструктура та розвинутий ринок електромобілів значно пришвидшить цей перехід.
                </p>
            </div>
            <!-- /.about-us-info -->
        </div>
        <!-- /.about-us-main -->
        <div class="about-us-team">
            <h2>Наша команда:</h2>
            <div class="team-item">
                <div class="team-item-img">
                    <img src="img/img-2-person-photo@3x.jpg" alt="image">
                </div>
                <!-- /.team-item-img -->
                <div class="team-item-name">Володимир Романцов</div>
                <!-- /.team-item-name -->
                <a href="#" class="team-item-profile">
                    Профіль у Facebook
                </a>
                <!-- /.team-item-profile -->
                <p>
                    Засновник та голова громадської організації ElectrocarsClub, координатор проекту EV-net в Україні.
                </p>
                <a href="#" class="detail-link">Детальніше про проекти</a>
            </div>
            <div class="team-item">
                <div class="team-item-img">
                    <img src="img/img-1-person-photo@3x.jpg" alt="image">
                </div>
                <!-- /.team-item-img -->
                <div class="team-item-name">Мрозакевич Роман</div>
                <!-- /.team-item-name -->
                <a href="#" class="team-item-profile">
                    Профіль у Facebook
                </a>
                <!-- /.team-item-profile -->
                <p>
                    Засновник on-line ресурсу EcoTown.com.ua. Керівник сервісу Joule.pro
                </p>
                <a href="#" class="detail-link">Детальніше про проекти</a>
            </div>
            <!-- /.about-us-team-item -->
        </div>
        <!-- /.about-us-team -->
    </div>
    <!-- /.about-us-block -->
</div>
<!-- /.container -->
</div>
