@@include('_include/page_head.html')
@@include('blocks/page-header/page-header.html')

<div class="category-section">
    <div class="container">
        <div class="category-wrap">
            @@include('blocks/category-filter/category-filter.html')
            @@include('blocks/category-block/category-block.html')
        </div>
        <!-- /.news-wrap -->

    </div>
    <!-- /.container -->
</div>
<!-- /.news-section -->

@@include('blocks/page-footer/page-footer.html')
@@include('_include/page_bottom.html')

