
@@include('_include/page_head.html')


@@include('blocks/page-header/page-header.html')

<div class="category-equipment">
  <div class="container">
    <h1>Категорії обладнання</h1>
  </div>
  <!-- /.container -->
</div>
<!-- /.category-equipment -->

@@include('blocks/equipment/equipment.html')


@@include('blocks/page-footer/page-footer.html')

@@include('_include/page_bottom.html')
</body>
</html>
