@@include('_include/page_head.html')

@@include('blocks/page-header/page-header.html')
<div class="main-info-wrap">
    <div class="container">
        <div class="main-info-item">
            <div class="main-info">
                <h1>Магазин інфрастуктурних рішень для електротранспорту
                </h1>
                <p>Ми продаємо лише те обладнання, за яке можемо ручитися своєю репутацією, а частину доходів магазину
                    використовуємо на розвиток електромобільної інфрастурктури в Україні.</p>
                <a href="">Детальніше</a>
            </div>
            <div class="main-image">
                <img src="img/img-main-intro.svg" alt="">
            </div>
        </div>
    </div>
</div>
@@include('blocks/equipment/equipment.html')
<!-- /.equipment-wrap -->
<div class="advantages-section">
    <div class="container">
        <h3>Чому варто купувати у нас</h3>
        <div class="advantages-wrap">
            <!-- /.advantages-wrap -->
            <div class="advantages-item">
                <!-- /.advantages-wrap -->
                <div class="advantages-img">
                    <img src="img/ic-charger-charger-network-64-x-64.svg" alt="image">
                    <h4>Розвиток мережі зарядок</h4>
                </div>
                <div class="advantages-info">
                    <h4>Розвиток мережі зарядок</h4>
                    <p>Купуючи у Faraday, ви фінансуєте встановлення зарядок у регіонах України із найменшим
                        покриттям</p>
                    <a href="#">Наші проекти</a>
                </div>
            </div>
            <div class="advantages-item">
                <!-- /.advantages-wrap -->
                <div class="advantages-img">
                    <img src="img/ic-charger-wallet-64-x-64.svg" alt="image">
                    <h4>Найнижчі ціни</h4>
                </div>
                <div class="advantages-info">
                    <h4>Найнижчі ціни</h4>
                    <p>Якщо ви знайдете дешевше, ми зробимо вам ще кращу ціну та безкоштовну доставку</p>
                    <a href="#">Перейти в каталог</a>
                </div>
            </div>
            <div class="advantages-item">
                <!-- /.advantages-wrap -->
                <div class="advantages-img">
                    <img src="img/ic-charger-service-64-x-64.svg" alt="image">
                    <h4>Пожиттєвий сервіс</h4>
                </div>
                <div class="advantages-info">
                    <h4>Пожиттєвий сервіс</h4>
                    <p>Купуючи у Faraday ви отримуєте пожиттєву підтримку від клубу електромобілістів</p>
                    <a href="#">Про наш клуб</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-company-wrap">
    <div class="container">
        <div class="info-company">
            <!-- /.info-company -->
            <div class="implemented-projects">
                <h3>Реалізовані проекти</h3>
                <p>Частина прибутків магазину Faraday.in.ua витрачається на наступні проекти:</p>
                <ul class="spend-coming-wrap">
                    <li class="spend-coming">
                        <h4><a href="#">Мережа зарядок
                            EV-Net</a></h4>
                        <span>Інфрастуктурні проекти</span>
                    </li>
                    <li class="spend-coming">
                        <h4><a href="#">Новинний ресурс EcoTown</a></h4>
                        <span>Інформаційні проекти</span>
                    </li>
                    <li class="spend-coming">
                        <h4><a href="#">Електромарафони та пробіги</a></h4>
                    </li>
                </ul>
                <!-- /.spend-coming-wrap -->

                <!-- /.spend-coming -->
            </div>
            <div class="news">
                <h3>Новини</h3>
                <a href="#">Ентузіасти роблять Північ України електромобільною</a>
                <a href="#">У місті Батурин відкрили першу зарядку для електромобілів</a>
                    <a href="#">Заголовок новини про Фарадей номер 3</a>
            </div>
        </div>
        <!-- /.news -->
        <!-- /.implemented-projects -->
    </div>
    <!-- /.container -->
</div>

<div class="friends-company-wrap">
    <div class="container">
        <h2>Наші друзі</h2>
        <!-- /.container -->
        <div class="friends-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/octa-logo-1.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/logo.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/logo-ecotown.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/ea-logo.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/electrocars-club-logo.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/octa-logo-1.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/logo.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/logo-ecotown.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/ea-logo.png" alt="image"></div>
                <div class="swiper-slide"><img src="img/electrocars-club-logo.png" alt="image"></div>
            </div>
            <div class="swiper-btn swiper-btn-next"><img src="img/right.svg" alt="image"></div>
            <div class="swiper-btn swiper-btn-prev"><img src="img/left.svg" alt="image"></div>
            <!-- /.swiper-wrapper -->
        </div>
    </div>    <!-- /.friends-slider -->
</div>
<!-- /.friends-company -->
<!-- /.implemented-projects -->
<!-- /.advantages -->




@@include('blocks/page-footer/page-footer.html')

<!-- /.overlay -->

@@include('_include/page_bottom.html')

</body>
</html>
