@@include('_include/page_head.html')
@@include('blocks/page-header/page-header.html')

<div class="news-single-section">
    <div class="container">
        @@include('blocks/breadcrumbs/breadcrumbs.html')
        @@include('blocks/news-single/news-single.html')
    </div>
    <!-- /.container -->
</div>



@@include('blocks/page-footer/page-footer.html')
@@include('_include/page_bottom.html')

