@@include('_include/page_head.html')
@@include('blocks/page-header/page-header.html')

<div class="news-section">
    <div class="container">
        <div class="news-wrap">
            @@include('blocks/news-filter/news-filter.html')
            @@include('blocks/news-block/news-block.html')
        </div>
        <!-- /.news-wrap -->

    </div>
    <!-- /.container -->
</div>
<!-- /.news-section -->

@@include('blocks/page-footer/page-footer.html')
@@include('_include/page_bottom.html')

