@@include('_include/page_head.html')
@@include('blocks/page-header/page-header.html')

<div class="product-section">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">Проекты</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">EV-Net</a></li>
            <li class="breadcrumbs-item"><a href="" class="breadcrumbs-link">EV-Net</a></li>
        </ul>
        <div class="product-title">
            <h1>Зарядна станція Octa Wall (B122-SL-RFID) 22 kW</h1>
            <p>Код товару: 2203</p>
        </div>
        <!-- /.product-title -->
        <div class="product-block">
            <div class="product-slider">
                <div class="gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/img-item-big-photo.jpg" alt="image">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/img-miniphoto-3.jpg" alt="image">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/img-miniphoto-2.jpg" alt="image">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/img-project-photo-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <!-- /.swiper-button-next -->
                    <div class="swiper-button-prev"></div>
                    <!-- /.swiper-button-prev -->
                </div>
                <div class="gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/img-item-big-photo.jpg" alt="image">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/img-miniphoto-3.jpg" alt="image">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/img-miniphoto-2.jpg" alt="image">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/img-project-photo-1.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-price">
                <p class="price">Ціна: <span class="">500$</span>
                    <!-- /.price -->
                </p>
                <div class="product-options">
                    <p>Додаткові опції:</p>
                    <ul>
                        <li>Нестандартний колір: + $10</li>
                        <li>Інша опція: + 100 грн</li>
                    </ul>
                </div>  <!-- /.product-options -->
                <button class="btn btn-default" data-remodal-target="modalBuy">Замовити в один клік</button>
                <!-- /.btn brn-default -->

                <!--<span class="info">Товар під замовлення: до 10 днів</span>-->
                <span class="info-available">Товар є в наявності</span>
                <!-- /.info -->
                <div class="product-features">
                    <p>Особливості:</p>
                    <ul>
                        <li>Розумна зарядка</li>
                        <li>Вбудований</li>
                        <li>3G-модем</li>
                        <li>RFID ідентифікація</li>
                    </ul>
                </div>
                <!-- /.product-features -->
            </div><!-- /.product-price -->


            <ul class="product-delivery">
                <li class="delivery">
                    <img src="img/ic-delivery-48-48.svg" alt="image">
                    <strong>Доставка</strong>
                    <p>До найближчого відділення «Нової пошти»</p>
                </li>
                <!-- /.delivery -->
                <li class="payment">
                    <img src="img/ic-money-48-48.svg" alt="image">
                    <strong>Оплата</strong>
                    <p>Готівка, Безготівковий розрахунок</p>
                </li>
                <li class="assembling">
                    <img src="img/ic-services-48-48.svg" alt="image">

                    <strong>Монтаж</strong>
                    <span>(тільки для зарядок)</span>
                    <p>Вартість монтажу — від 1000 грн.</p>
                </li>
            </ul><!-- /.product-delivery -->

        </div><!-- /.product-slider -->


    </div>
    <!-- /.product-block -->
</div>
<!-- /.container -->

<!-- /.product-section -->
<div class="description-section">
    <div class="container">
        <h2>Опис:</h2>
        <p>
            EFACEC QC45 это мощная станция быстрой зарядки, способная заряжать все совместимые бренды
            электрического авто рынка с помощью стандартов CHAdeMO, CCS и AC Type − 2 (быстрая).
            <br><br>
            Максимальная выходная мощность постоянного тока достигает до 120 ампер (50 кВт), переменного до 63
            ампер (43 кВт).<br><br>
            Доступны различные варианты вывода, такие как базовый одиночный выход постоянного тока или двойной выход
            постоянного тока в одном шкафу. С помощью зарядной экспресс-станции EFACEC QC45 возможен одновременный
            заряд постоянным и переменным током, при этом время заряда аккумуляторных батарей до 80 % составит не
            более 30 минут.<br><br>
            Цикл зарядки заканчивается сам по себе или может быть прерван пользователем через команду,
            как локальное, так и дистанционно. EFACEC QC45 имеет информационный TFT-дисплей 6.4 дюйма,
            с on-line инструкцией об эксплуатации зарядной станции, а так же модуль контроля доступа RFID.<br><br>
            Стоит отметить, что предусмотрена возможность эксплуатации дисплея в рекламных целях.
        </p>

        <h2>Технічні характеристики:</h2>
        <table>
            <tr>
                <td>Виробник:</td>
                <td>EFACEC (Португалія)</td>
            </tr>
            <tr>
                <td>Сфера використання:</td>
                <td>Коммерсійна</td>
            </tr>
            <tr>
                <td>Напруга, В:</td>
                <td>500, DC</td>
            </tr>
            <tr>
                <td>Потужність, кВт:</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Зарядний струм, А:</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Роз'єм під'єднання:</td>
                <td>CHAdemo / CCS / Combo-2 / AC Type 2</td>
            </tr>
            <tr>
                <td>Дисплей:</td>
                <td>TFT 6.4"</td>
            </tr>
            <tr>
                <td>Клас захисту корпусу:</td>
                <td>IP54</td>
            </tr>
            <tr>
                <td>Тип монтажу:</td>
                <td>На підлозі</td>
            </tr>
            <tr>
                <td>Масса, кг:</td>
                <td>600</td>
            </tr>
            <tr>
                <td>Габарити ВхШхГ, мм:</td>
                <td>1800 x 600 x 600</td>
            </tr>
            <tr>
                <td>Гарантія, міс:</td>
                <td>12</td>
            </tr>
        </table>
    </div>
    <!-- /.container -->
</div>
<!-- /.description-section -->

<div class="reviews-section">
    <div class="container">
        <div class="reviews-wrap">
            <div class="reviews-photo">
                <h2>Фото реалізованих проектів</h2>
                <div class="reviews-img">
                    <img src="img/img-project-photo-1.jpg" alt="image">
                </div>
                <!-- /.reviews-img -->
                <div class="reviews-img">
                    <img src="img/img-project-photo-2.jpg" alt="image">
                </div>
                <!-- /.reviews-img -->
                <div class="reviews-img">
                    <img src="img/img-project-photo-3.jpg" alt="image">
                </div>
                <!-- /.reviews-img -->
            </div>
            <!-- /.reviews-photo -->
            <div class="reviews-block">
                <h2>Відгуки</h2>
                <div class="review-item">
                    <h3>Олександр Константинопольский</h3>
                    <div class="review-rating">
                        <div class="stars">
                            <form action="">
                                <input class="star star-5 icon" id="star-5" type="radio" name="star"/>
                                <label class="star star-5 icon" for="star-5"></label>
                                <input class="star star-4 icon" id="star-4" type="radio" name="star"/>
                                <label class="star star-4 icon" for="star-4"></label>
                                <input class="star star-3 icon" id="star-3" type="radio" name="star" checked/>
                                <label class="star star-3 icon" for="star-3"></label>
                                <input class="star star-2 icon" id="star-2" type="radio" name="star"/>
                                <label class="star star-2 icon" for="star-2"></label>
                                <input class="star star-1 icon" id="star-1" type="radio" name="star"/>
                                <label class="star star-1 icon" for="star-1"></label>
                            </form>
                        </div>
                        <span>16 вересня 2017</span>
                    </div>
                    <!-- /.review-rating -->
                    <p>Модель QC45 укомплектована 3G модемом, Wi-Fi адаптером, оборудована встроенным портом LAN, а так
                        же включают в себя интеграцию с протоколам OCPP, MHI, Mobi. E, The New Motion, RWE, Siemens и
                        многими другими для дистанционного контроля и мониторинга.
                        Все зарядные станции EFACEC имеют международный сертификат соответствия, а так же протестированы
                        мировыми европейскими японскими производителями электротранспортных средств.
                        Зарядная экспресс-станция EFACEC QC45 разработана, чтобы дать вашему транспортному средству
                        максимальный уровень заряда с минимальным затраченным временем.
                    </p>
                    <a href="#">Подробнее</a>
                </div>
                <!-- /.review-item -->

                <button class="btn btn-secondary" data-remodal-target="modalReview">Додати відгук</button>

                <!-- /.review-item -->

            </div>
            <!-- /.reviews-block -->
        </div>
        <!-- /.reviews-block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.reviews-section -->
<div class="remodal modal-buy" data-remodal-id="modalBuy">
    <div class="modal-header">
        <span class="close" aria-label="Закрыть" data-remodal-action="close"><span></span></span>

        <h2>Придбати</h2>

        <p>Зарядна станція Octa Wall (B122-SL-RFID) 22 кВт</p>
    </div>
    <!-- /.modal-header -->
    <div class="modal-body">
        <form>
            <label for="name">Ваше ім'я*</label>
            <div class="icon-user">
                <input type="text" id="name" name="name">
            </div>
            <label for="tel">Ваш телефон*</label>
            <div class="icon-phone">
                <input type="tel" id="tel" name="tel">
            </div>
            <!-- /.icon-phone -->

            <label for="email">E-mail</label>
            <div class="icon-mail">
                <input type="text" id="email" name="email">
            </div>

            <div class="styled-checkbox">
                <input type="checkbox" id="placeCheck">
                <label for="placeCheck">Вказати місце доставки</label>
            </div>
            <label for="place">Місто*</label>
            <div class="modal-input">
                <input type="text" id="place">
            </div>
            <!-- /.modal-input -->

            <label for="np">№ відділення «Нової Пошти»*</label>
           <div class="modal-input">
               <input type="text" id="np">
           </div>
           <!-- /.modal-input -->

        </form>
    </div>
    <!-- /.modal-body -->

    <div class="modal-footer">
        <button data-remodal-action="confirm" class="btn btn-default">Відправити заявку</button>
        <a data-remodal-action="cancel" >Відмінити</a>
    </div>
    <!-- /.modal-footer -->

</div>
<div class="remodal modal-review" data-remodal-id="modalReview">
    <div class="modal-header">
        <span class="close" aria-label="Закрыть" data-remodal-action="close"><span></span></span>

        <h2>Додати відгук</h2>
    </div>
    <!-- /.modal-header -->
    <div class="modal-body">
        <form>
            <label for="name2">Ваше ім'я*</label>
            <div class="icon-user">
                <input type="text" id="name2" name="name">
            </div>
            <p>Ваша оцінка:</p>
            <div class="stars">
                <input class="star star-5 icon" id="star5" type="radio" name="star"/>
                <label class="star star-5 icon" for="star5"></label>
                <input class="star star-4 icon" id="star4" type="radio" name="star"/>
                <label class="star star-4 icon" for="star4"></label>
                <input class="star star-3 icon" id="star3" type="radio" name="star" checked/>
                <label class="star star-3 icon" for="star3"></label>
                <input class="star star-2 icon" id="star2" type="radio" name="star"/>
                <label class="star star-2 icon" for="star2"></label>
                <input class="star star-1 icon" id="star1" type="radio" name="star"/>
                <label class="star star-1 icon" for="star1"></label>
            </div>
            <!-- /.stars -->
            <label for="review">Ваш відгук</label>
            <textarea  name="" id="review" cols="30" rows="10"></textarea>
            <!-- /# -->
            <label for="email2">Ваш E-mail (ніхто бачити небуде) *</label>
            <div class="icon-mail">
                <input type="text" id="email2" name="email">
            </div>

        </form>
    </div>
    <!-- /.modal-body -->

    <div class="modal-footer">
        <button data-remodal-action="confirm" class="btn btn-default">Відправити заявку</button>
        <a data-remodal-action="cancel" >Відмінити</a>
    </div>
    <!-- /.modal-footer -->

</div>
@@include('blocks/page-footer/page-footer.html')
@@include('_include/page_bottom.html')

