@@include('_include/page_head.html')
@@include('blocks/page-header/page-header.html')

<div class="search-info-section">
    <div class="container">
        <h1>По вашому запиту знайдено 25 товарів
            <a href="#" class="btn btn-default">Перейти до знайдених товарів</a>
        </h1>

        <h2>Встановлення зарядної станції біля власного закладу - це дуже хороша ідея!</h2>
        <p>Згідно ваших потреб, вам підійдуть зарядні станції із наступними параметрами:</p>

        <h3>Тип зарядки:<span class="tooltip-btn" data-remodal-target="modalInfo">?</span> <span>настінні, стовпики</span> </h3>
        <p>Обидва типи належать до НЕшвидкісних зарядних станцій. Але вони виконуватимуть основні
            функції: клієнт заряджатиметься поки буде знаходитися у вас у закладі. Ви можете встановити
            швидкісну зарядку, але вона на порядок дорожча, тому її прийдеться робити платною, і така
            зарядка не залучить стільки ж додаткових клієнтів до вашого бізнесу, як безкоштовні зарядки
        </p>
        <h3>Тип конектора:<span class="tooltip-btn" data-remodal-target="modalInfo">?</span> <span>розетка</span> </h3>
        <p>Для публічних зарядок ми не рекоменємо використовувати зарядки
            із вмонтованим кабелем, оскільки автомобілі мають різні конектори,
            і один кабель не зможе зарядити всі типи автомобілів. А якщо зарядка буде із розеткою,
            то до неї зможуть підключитися всі автомобілі через власні перехідники
        </p>
        <h3>Замок для розетки:<span class="tooltip-btn" data-remodal-target="modalInfo">?</span> <span>так</span> </h3>
        <p>
            Для публічних зарядок наявність замку для розетки є обов'язковою.
            Вона вбережа ваших клієнтів від крадіжок кабелів
        </p>
        <h3>Кількість портів:<span class="tooltip-btn" data-remodal-target="modalInfo">?</span> <span>1 порт, 2 та більше</span> </h3>
        <p>
            Ми рекомендуємо для власників закладів встановлювати зарядки
            мінімум на 2 порти. Кількість електромобілів зростає так швидко,
            що однієї зарядки біля закладу незабаром буде мало. Проте, якщо ви не
            хочете відразу купувати дорожчу двухпортову, то для початку можете встановити і на 1 порт
        </p>
        <h3>Smatr-зарядка:<span class="tooltip-btn" data-remodal-target="modalInfo">?</span> <span>ні</span> </h3>
        <p>
            Якщо ви плануєте робити зарядку загальнодоступною, то вам не обов'язково брати Smart-зарядку
            з онлайн-доступом. Ви можете взяти найпростішу зарядку і вона цілком задовольнятиме потреби ваших клієнтів
        </p>
        <h3>RFID-ідентифікація:<span class="tooltip-btn" data-remodal-target="modalInfo">?</span><span>ні</span> </h3>
        <p>
            Якщо ви хочете давати доступ лише обмеженому колу користувачів, то вам може знадобитися додаткова опція:
            розблокування станції через RFID. Тим не менш ми б рекомендували робити такі станції загальнодоступними
            для всіх та безкоштовними — без RFID
        </p>
        <h3>Додаткові комплектуючі:</h3>
        <p>
            Окрім зарядних станцій, вам знадобляться наступні комплектуючі:
        </p>
        <ul>
            <li><a href="#">стійки</a></li>
            <li><a href="#">знаки</a></li>
            <li><a href="#">обмежувачі</a></li>
        </ul>
        <p>Стійки потрібні у тому випадку, якщо ви обрали настінну зарядку, але біля парковки нема доступної площини.
            <br><br>
            Обмежувачі вам знадобляться, для того, щоб захистити зарядку від недбалих водіїв.
            <br><br>
            Знаки потрібні для того, щоб електромобілісти відразу помічали зарядки, а також щоб водії із ДВЗ не паркувалися на місцях для електрмобілів.</p>
    </div>
    <!-- /.container -->
</div>
<!-- /.news-section -->

<div class="search-result-section">
    <div class="container">
        <h2>
            Ось список обладнання, яка вам може підійти:
        </h2>
        <div class="category-item">
            <div class="category-item-img">
                <img src="img/img-catalogue-1.jpg" alt="image">
            </div>
            <!-- /.category-item-img -->
            <h2>Octa Wall  (B122-SL-RFID)
                <span class="category-item-price">$500</span>
                <!-- /.category-item-price -->
            </h2>
            <div class="category-item-description">
                Настінна зарядка з можливістю online-керування та online-моніторингу
            </div>
            <!-- /.category-item-description -->
            <div class="category-item-info">
                <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
                <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
                <p><strong>RFID </strong> ідентифікація</p>
            </div>
            <!-- /.category-item-info -->
        </div>
        <div class="category-item">
            <div class="category-item-img">
                <img src="img/img-catalogue-1.jpg" alt="image">
            </div>
            <!-- /.category-item-img -->
            <h2>Octa Wall  (B122-SL-RFID)
                <span class="category-item-price">$500</span>
                <!-- /.category-item-price -->
            </h2>
            <div class="category-item-description">
                Настінна зарядка з можливістю online-керування та online-моніторингу
            </div>
            <!-- /.category-item-description -->
            <div class="category-item-info">
                <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
                <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
                <p><strong>RFID </strong> ідентифікація</p>
            </div>
            <!-- /.category-item-info -->
        </div>
        <div class="category-item">
            <div class="category-item-img">
                <img src="img/img-catalogue-1.jpg" alt="image">
            </div>
            <!-- /.category-item-img -->
            <h2>Octa Wall  (B122-SL-RFID)
                <span class="category-item-price">$500</span>
                <!-- /.category-item-price -->
            </h2>
            <div class="category-item-description">
                Настінна зарядка з можливістю online-керування та online-моніторингу
            </div>
            <!-- /.category-item-description -->
            <div class="category-item-info">
                <p>Потужність: <strong>до 22 кВт (AC)</strong> <span>(3 фази х 40А)</span></p>
                <p>Конектор: <strong>2 розетки</strong> (Type 2, Type 2) із замком</p>
                <p><strong>RFID </strong> ідентифікація</p>
            </div>
            <!-- /.category-item-info -->
        </div>

        <div class="pagination">
            <a href="" class="pagination-item">←</a>
            <a href="" class="pagination-item">1</a>
            <a href="" class="pagination-item active">2</a>
            <a href="" class="pagination-item">...</a>
            <a href="" class="pagination-item">11</a>
            <a href="" class="pagination-item">→</a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.search-result-section -->
<div class="remodal modal-info" data-remodal-id="modalInfo">
    <div class="modal-header">
        <span class="close" aria-label="Закрыть" data-remodal-action="close"><span></span></span>
        <h2>Тип конектора <span class="tooltip-btn" data-remodal-target="modalInfo">?</span></h2>
    </div>
    <!-- /.modal-header -->
    <div class="modal-body">
        <p>Є два типи конекторів для зарядок:</p>
        <ul>
            <li>
                <h3>1. Кабель </h3>
                <p>
                    <strong>Переваги:</strong> якщо у зарядній станції вмонтований кабель, то це cпрощує процес
                    зарядки для власника автомобіля - потрібно просто вставити зарядний кабель у автомобіль. Не
                    потрібно ніяких перехідників. <br><br>
                    <strong>Недоліки:</strong> зарядні кабелі не універсальні. Якщо у зарядки кабель типу Type1, то
                    цим кабелем не зможуть зарядитися деякі електромобілі, напр: Tesla, Renault Zoe, тощо.
                </p>
            </li>
            <li>
                <h3>2. Розетка </h3>
                <p>
                    <strong>Переваги:</strong> розетка - це універсальний конектор. Більшість електромобілістів
                    мають власні перехідники, тому встановивши зарядку із розеткою Type2, до неї зможе підключитися
                    більшість електромобілів.<br><br>
                    <strong>Недоліки:</strong> основний недолік розеток це те, що власникам електромобіля для того,
                    щоб приєднатися до зардяки, потрібно діставати власний кабель.
                </p>
            </li>
        </ul>
    </div>
    <!-- /.modal-body -->
</div>
@@include('blocks/page-footer/page-footer.html')
@@include('_include/page_bottom.html')

