
@font-face {
  font-family: Exo;
  src: url('../fonts/exo2-semibold.woff2') format('woff2'),
  url('../fonts/exo2-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
  url('../fonts/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
