* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 16px;
  color: $main-text-color;
  font-family: $font-Roboto;
  background-color: #ffffff;
  position: relative;
  font-weight: 400;
  padding-bottom: 111px;
  z-index: 1;
}

a {
  text-decoration: underline;
  color: $main-text-color;
  &:hover {
    text-decoration: none;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, input, textarea {
  outline: none;
}

h1 {
  font-family: $font-exo;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.5px;
  color: $color-main;
}

h3 {
  letter-spacing: 0.5px;
  text-align: center;
  font-family: $font-exo;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}

.styled-radio {
  margin-bottom: 16px;
  line-height: 24px;
  [type='radio'] {
    display: none;
  }
  [type='radio'] + label:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    border: 2px solid #1c7aae;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    transition: border ease .3s;
  }
  [type='radio']:checked + label:after {
    border: 8px solid #1c7aae;
  }
  label {
    position: relative;
    display: block;
    padding-left: 38px;
    cursor: pointer;
  }
}

.styled-checkbox {
  margin-bottom: 15px;
  display: inline-block;

  [type='checkbox'] {
    display: none;
    position: absolute;
    left: -10000px;
  }
  label {
    display: block;
    padding-left: 38px;
    position: relative;
    line-height: 27px;
    cursor: pointer;
  }
  [type='checkbox'] + label {
    &:before {
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 2px;
      border: solid 2px #1c7aae;
      position: absolute;
      top: 0;
      left: 0;
      transition: background ease .3s;
    }
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 7px;
      border-left: 2px solid $light-white;
      border-bottom: 2px solid $light-white;
      position: absolute;
      top: 6px;
      left: 5px;
      transform: rotate(-45deg) scale(0);
      transition: transform ease .3s;
    }
  }
  [type='checkbox']:checked + label {
    &:before {
      background: #1c7aae;
    }
    &:after {
      transform: rotate(-45deg) scale(1);
    }
  }
  [type='checkbox']:disabled + label {
    color: #dededd;
    &:before {
      border-color: #dededd;
    }

  }
}

.nouislider {
  margin-top: 46px;
}

.noUi-target {
  height: 8px;
  background-color: #f5f7fa;
  border: solid 1px #dededd;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #1c7aae;
  border: none;
  cursor: pointer;
  box-shadow: none;
  left: 0;
  &:before, &:after {
    display: none;
  }
  &.noUi-handle-upper {
    right: 19px;
    left: auto;
  }
}

.noUi-connect {
  background-color: #72afd1;
}

.noUi-horizontal .noUi-tooltip {
  background: $color-main;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  transform: translate(-50%, -20%);
  &:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 2px;
    transform: translateX(-50%) rotate(45deg);
    background: inherit;
    top: 84%;
    left: 50%;
    position: absolute;
  }
}

.noUi-origin {
  width: 20px;
}

.tooltip-btn {
  display: inline-block;
  color: #cb262e;
  font-family: $font-Roboto;
  background: $bg-gray;
  border: 1px solid #dededd;
  line-height: 24px;
  font-weight: 700;
  padding: 0 9px;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: inherit;
    border-left: 1px solid #dededd;
    border-top: 1px solid #dededd;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: -5px;

  }
}

.main-info-wrap {
  padding: 70px 0 105px;
  background: $bg-gray;
}

.main-info-item {
  display: flex;
  margin: 0 60px;
}

.main-info {
  width: 51%;
  padding-top: 80px;
  margin-right: 15px;
  h1 {
    font-size: 48px;
    color: $color-blue;
    padding-bottom: 25px;
    line-height: 56px;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 21px;
    font-family: $font-exo;
    padding-bottom: 25px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  a {
    line-height: 20px;
    letter-spacing: .2px;
    color: $main-text-color;
  }
}

.main-image {
  width: 49%;
  img {
    width: 100%;
  }
}

.advantages-section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  background: #ffffff;
  h3 {
    width: 100%;
    font-size: 38px;
    color: $color-blue;
    padding-bottom: 50px;
    letter-spacing: 0.5px;
  }
  .advantages-wrap {
    display: flex;
  }
}

.advantages-info {
  margin-right: 30px;
}

.advantages-item {
  display: flex;
  width: 33.33%;
  .advantages-img {
    margin-right: 15px;
    h4 {
      display: none;
      font-family: $font-exo;
      font-size: 21px;
      line-height: 1.33;
      letter-spacing: 0.5px;
    }
  }
  .advantages-info {
    h4 {
      font-family: $font-exo;
      font-size: 21px;
      line-height: 1.33;
      letter-spacing: 0.5px;
      padding-bottom: 10px;
    }
    p {
      line-height: 1.5;
      letter-spacing: 0.2px;
      padding-bottom: 17px;
    }
  }
}

.info-company-wrap {
  padding: 80px 40px 85px;
  background: $light-blue;
  color: $light-white;
  .info-company {
    display: flex;
  }
}

.implemented-projects {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 110px;
  h3 {
    text-align: left;
    font-size: 30px;
    font-family: $font-exo;
    line-height: 1.33;
    letter-spacing: 0.5px;
    padding-bottom: 25px;
  }
  p {
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: $light-white;
    padding-bottom: 17px;
    border-bottom: 1px solid $light-white;;
  }
}

.spend-coming-wrap {
  display: flex;
  padding-top: 25px;
  .spend-coming {
    width: 33.33%;
    padding: 0 15px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 10px;
      left: 0;
      background: #ffffff;
      position: absolute;
    }
    @media screen and (max-width: 649px) {
      &:before {
        display: none;
      }
    }
    h4 {
      a {
        font-family: $font-exo;
        font-size: 21px;
        line-height: 1.33;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
        display: block;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    a {
      color: $light-white;
      border-bottom: 0;
      font-size: 12px;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.news {
  width: 30%;
  h3 {
    font-family: $font-exo;
    text-align: left;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.5px;
    padding-bottom: 25px;
  }
  a {
    color: $light-white;
    display: block;
    line-height: 1.25;
    letter-spacing: 0.2px;
    padding-bottom: 20px;
  }
}

.friends-company-wrap {
  padding: 80px 0 140px;
  background: #ffffff;
  h2 {
    font-family: $font-exo;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: 0.5px;
    color: $light-blue;
    padding-bottom: 25px;
    border-bottom: 2px solid $light-gray;
  }
}

.friends-slider {
  margin-top: 45px;
  padding: 0 55px;
  .swiper-slide {
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  width: auto;
}

.swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 55px;
  height: 80px;
  background: #ffffff;
  img {
    cursor: pointer;
  }
}

.swiper-btn-next {
  right: 0;

  text-align: right;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%);
}

.swiper-btn-prev {
  left: 0;
  text-align: left;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%);
}

//CATEGORY-EQUIPMENT
.category-equipment {
  padding: 80px 0;
  background: $bg-gray;
  h1 {
    font-size: 48px;
    text-align: center;
  }
}

//SELECT-EQUIPMENT
.select-equipment-section {
  padding: 80px 0;
  h1 {
    padding-bottom: 45px;
    text-align: center;
  }
  .select-equipment-block {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
  }

  .business-item {
    display: none;
  }
  .personal-item {
    display: none;
  }
  .equipment-item-inner {
    padding: 30px 15px 0;
  }
  .btn {
    margin: 35px auto 0;
    display: block;
    max-width: 290px;
  }
  .select-inline {
    margin-bottom: 15px;
    padding: 0 25px;
    label {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      margin-right: 8px;
      min-width: 65px;

    }
    .nice-select {
      width: 73%;
      vertical-align: middle;
      .option.disabled {
        display: none;
      }
    }
  }
}

.equipment-item {
  max-width: 570px;
  width: 100%;
  margin: 0 15px;
  border: 1px solid $gray;
  background: $white;
  flex-grow: 1;
  min-height: 200px;
  &.disabled {
    color: rgba(153, 153, 153, 0.9);
    pointer-events: none;
    h3 {
      span {
        background: #dededd;
        color: #ffffff;
      }
    }
    .styled-radio [type='radio'] + label:after {
      border-color: #dededd;
    }
  }
}

.equipment-item-title {
  padding: 12px 25px;
  border-bottom: 1px solid $gray;
  h3 {
    position: relative;
    text-align: left;

    padding-left: 30px;
    span {
      width: 24px;
      height: 24px;
      background: $red;
      border-radius: 50%;
      color: $light-white;
      display: inline-block;
      text-align: center;
      padding-top: 3px;
      margin-right: 15px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// NEWS LIST
.news-section {
  background: $bg-gray;
}

.news-wrap {
  display: flex;
}

.news-single-section {
  padding: 40px 0 80px;
  background: $bg-gray;
  .breadcrumbs {
    margin-bottom: 20px;
  }
}

.category-section {
  background: $bg-gray;
}

.category-wrap {
  display: flex;
}

.search-info-section {
  padding: 80px 0 65px;
  h1 {
    font-size: 38px;
    margin-bottom: 45px;
    display: inline-flex;
    justify-content: space-between;

    width: 100%;
    .btn {
      float: right;
    }
  }
  h2 {
    font-family: $font-exo;
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 1.33;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
  }
  h3 {
    font-family: $font-exo;
    margin-bottom: 10px;
    font-size: 21px;
    text-align: left;
    span {
      font-family: $font-Roboto;
      font-size: 16px;
      &:not(.tooltip-btn) {
        font-style: italic;
      }
    }
  }
  ul {
    list-style-type: disc;
    padding-left: 20px;
    li {
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.search-result-section {
  background: $bg-gray;
  padding: 62px 0;
  h2 {
    font-size: 25px;
    font-family: $font-exo;
    margin-bottom: 34px;
  }
  .category-item-description {
    max-width: 100%;
  }
}

.product-section {
  background: $bg-gray;
  padding: 50px 0 80px;
  h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
  }
  .product-title {
    margin-bottom: 20px;
  }
}

.product-block {
  display: flex;
  .btn-default {
    max-width: 314px;
    width: 100%;
    display: block;
    margin-bottom: 17px;
  }
  .info {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(77, 77, 77, 0.9);
    display: block;
    margin-bottom: 25px;
  }
  .info-available {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: #4a8d00;
    margin-bottom: 25px;
    display: block;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 7px;
      border-left: 2px solid #4a8d00;
      border-bottom: 2px solid #4a8d00;
      transform: rotate(-52deg);
      vertical-align: top;
      margin-right: 6px;
      margin-top: 2px;
    }
  }
}

.product-slider {
  max-width: 370px;
}

.gallery-top {
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  .swiper-slide {
    text-align: center;
    background: #ffffff;
    height: 370px;
    position: relative;
    img {
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .swiper-button-next{
    background: url(../img/right.svg) no-repeat center;
    background-size:contain;
  }
  .swiper-button-prev{
    background: url(../img/left.svg) no-repeat center;
    background-size:contain;
  }
}

.gallery-thumbs {
  overflow: hidden;
  .swiper-slide {
    width: 114px;
    height: 114px;
    position: relative;
    background: #ffffff;
    border: solid 1px transparent;
    cursor: pointer;
    img {
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .swiper-slide-active {
    border: solid 1px #1c7aae;
    box-shadow: 0 13px 10px -11px rgba(0, 0, 0, 0.3);
  }
}

.product-price {
  padding: 25px 35px;
  max-width: 385px;
  .price {
    font-family: $font-exo;
    padding-left: 25px;
    span {
      font-family: $font-Roboto;
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.product-options {
  border: solid 1px #1c7aae;
  max-width: 310px;
  padding: 25px;
  padding-bottom: 18px;
  margin-top: 25px;
  position: relative;
  margin-bottom: 32px;
  p {
    display: inline-block;
    background: $bg-gray;
    position: absolute;
    padding: 0 5px;
    top: -9px;
    left: 20px;
    font-weight: 700;
  }
  li {
    line-height: 1.5;
  }
}

.product-features {
  p {
    font-weight: 700;
    margin-bottom: 10px;
  }
  ul {
    padding-left: 25px;
    list-style-type: disc;
  }
  li {
    line-height: 1.5;
    padding-left: 10px;
  }
}

.product-delivery {
  max-width: 370px;
  margin-left: 35px;
  border-left: 2px solid #1c7aae;
  padding-left: 38px;
  li {
    padding-left: 68px;
    position: relative;
    margin-bottom: 20px;
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    strong {
      font-size: 21px;
      font-family: $font-exo;
      display: block;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.5;
    }
    span {
      color: rgba(77, 77, 77, 0.9);
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

.description-section {
  padding: 40px 0 65px;
  h2 {
    font-size: 25px;
    font-family: $font-exo;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 40px;
  }
  table {
    width: 100%;
    max-width: 770px;
    border: 1px solid #72afd1;
    td {
      border: 1px solid #dededd;
      padding: 8px 15px;
      width: 50%;
      vertical-align: middle;
    }
    tr {
      &:nth-child(odd) {
        background: $bg-gray;
      }
    }
  }
}

.reviews-section {
  background: $bg-gray;
  padding: 40px 0 80px;
  h2 {
    font-size: 25px;
    font-family: $font-exo;
    margin-bottom: 25px;
  }
}

.reviews-wrap {
  display: flex;
}

.reviews-photo {
  max-width: 280px;
  width: 100%;
  flex-shrink: 0;
}

.reviews-img {
  margin-bottom: 25px;
  img {
    width: 100%;
  }
}

.reviews-block {
  padding-left: 130px;
  .btn-secondary {
    margin-left: 48px;
    min-width: 195px;
  }
}

.review-item {
  padding-left: 50px;
  position: relative;
  background: url(../img/ic-quote-32-x-32.svg) no-repeat top left;
  margin-bottom: 30px;
  h3 {
    font-size: 21px;
    text-align: left;
    margin-bottom: 10px;
  }
  div.stars {
    pointer-events: none;
  }
  p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.review-rating {
  color: $lighten-gray;
  margin-bottom: 18px;
}

div.stars {
  display: inline-block;
  form {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

input.star {
  display: none;
}

label.star {
  display: inline-block;
  font-size: 15px;
  padding: 1px;
  color: #FF9800;
  transition: all .2s;
  cursor: pointer;
}

input.star:checked ~ label.star:before {
  content: '\e800';
  color: #FF9800;
  transition: all .25s;
}

input.star-1:checked ~ label.star:before {
  color: red;
}

label.star:before {
  content: '\e801';
  font-family: 'font-icon';
}

.modal-buy, .modal-review {
  max-width: 320px;
  border-radius: 8px;
  border: solid 1px #dededd;
  text-align: left;
  padding: 0;
  overflow: hidden;

}

.modal-info {
  max-width: 600px;
  padding: 0 32px 40px;
  border-radius: 8px;
  .modal-header {
    padding: 20px 0;
    h2 {
      font-size: 25px;
    }
    .close {
      top: 23px;
      right: 30px;
    }

  }
  .modal-body {
    padding: 24px 40px 0;
    text-align: left;
    p {
      margin-bottom: 10px;
      line-height: 1.5;
      strong {
        font-weight: 700;
      }
    }
    h3 {
      text-align: left;
      font-size: 21px;
      font-family: $font-exo;
      letter-spacing: 0.5px;
      margin-bottom: 10px;
    }
  }

}

.remodal-close {
  left: auto;
  right: 0;
}

.modal-header {
  border-bottom: 2px solid #1c7aae;
  padding: 15px;
  padding-bottom: 7px;
  p {
    line-height: 1.5;
  }
  h2 {
    font-size: 21px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 10px;
    font-family: $font-exo;
  }
  .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.modal-body {
  padding: 22px 15px;
  form {
    > label {
      font-size: 14px;
      display: block;
      line-height: 1.4;
      color: $lighten-gray;
      margin-bottom: 3px;
    }
    .icon-user, .icon-phone, .icon-mail, .modal-input {
      border: solid 1px #1c7aae;
      position: relative;
      margin-bottom: 10px;
      &:before {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: $color-main;
        pointer-events: none;
        font-size: 26px;
      }
      > input {
        border: none;
        background: none;
        width: 100%;
        font-size: 16px;
        padding-left: 16px;
        padding-right: 55px;
        line-height: 40px;
        height: 40px;
        outline: none;
      }
    }
  }
  .stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  label.star {
    font-size: 30px;
  }
  textarea {
    border: solid 1px #1c7aae;
    position: relative;
    margin-bottom: 10px;
    resize: none;
    width: 100%;
    height: 140px;
    font-size: 16px;
    font-family: $font-Roboto;
    padding-top: 5px;
    padding-left: 15px;
  }
  p {
    margin-bottom: 5px;
  }
}

.modal-footer {
  padding: 24px 15px;
  background: $bg-gray;
  text-align: center;
  a {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    width: 100%;
    min-width: 1px;
    margin-bottom: 20px;
  }
}

.remodal-overlay {
  background: rgba(43, 46, 56, 0.2);
}

.gallery-thumbs{
  .swiper-wrapper{
    margin-left: -124px;
  }
}