@media screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .product-delivery {
    margin-left: 0;
  }
  .product-price {
    padding: 25px;
  }
  .product-delivery {
    padding-left: 25px;
  }
  .about-us-main {
    width: 45%;
    margin-right: 20px;
  }
  .about-us-team {
    width: 55%;
  }
  .new-single-img {
    width: 50%;
  }
  .project-item-title h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1023px) {
  body {
    padding-bottom: 147px;
  }
  .container {
    max-width: 720px;
  }
  .equipment {
    h3 {
      font-size: 21px;
    }
  }
  .type-station {
    flex-direction: column;
    img {
      margin-right: 0;
      margin-bottom: 7px;
    }
  }
  .selection-equipment {
    margin-bottom: 45px;
    p {
      font-weight: 100;
    }
  }
  .equipment-wrap .equipment {
    justify-content: center;
  }
  .type-station {
    margin: 0 7px;
    width: 40%;
  }
  .product-block {
    flex-wrap: wrap;
  }
  .product-section {
    padding: 25px 0 45px;
  }
  .product-delivery {
    max-width: 100%;
    margin-top: 45px;
    display: flex;
    border: none;
    padding-left: 0;
    li {
      padding-left: 0;
      &:not(:last-child) {
        margin-right: 40px;
      }
      img {
        position: static;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      strong {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
      span {
        display: block;
      }
    }
  }
  .reviews-block {
    padding-left: 83px;
  }
  .reviews-photo {
    max-width: 226px;
  }
  .main-info-wrap {
    padding-top: 30px;
    .main-info-item {
      margin: 0;
    }
  }
  .main-info {
    padding-top: 0;
    h1 {
      font-size: 30px;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .2px;
      padding-bottom: 10px;
    }
  }
  .advantages {
    h3 {
      font-size: 30px;
    }
  }
  .advantages-item {
    flex-direction: column;
    .advantages-img {
      margin: 0;
      margin-bottom: 17px;
    }
    .advantages-info {
      margin-right: 20px;
      p {
        font-weight: 100;
      }
    }
  }
  .info-company-wrap {
    padding: 55px 0 35px;
    .info-company {
      flex-direction: column;
    }
  }
  .implemented-projects {
    width: 100%;
    margin-right: 0;
  }
  .news {
    width: 100%;
  }
  .friends-company-wrap {
    padding: 40px 0 50px;
    h2 {
      font-size: 30px;
      padding-bottom: 20px;
    }
  }

  //SELECT EQUIPMENT
  .select-equipment-section {
    .equipment-selection {
      max-width: 100%;
      width: 100%;
    }
  }
  .equipment-selection {
    .choose-station {
      display: flex;
      padding: 20px 40px;
    }
  }
  .styled-radio {
    margin-bottom: 0;
    width: 50%;
  }

  .about-us-block {
    display: block;
  }
  .about-us-main {
    width: 100%;
  }
  .about-us {
    padding: 40px 0;
  }
  .about-us-info {
    margin: 25px 0 40px;
  }
  .about-us-team {
    width: 100%;
    justify-content: flex-start;
  }
  .team-item {
    margin-right: 65px;
  }
  .category-filter {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform ease .5s;
    padding: 35px;
    padding-left: 50px;
    background: #ffffff;
    height: 100%;
    overflow-y: auto;
    form {
      max-width: 190px;
    }
    &.open {
      transform: translateX(0%);
      .close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }
  .category-block {
    padding-left: 0;
    .btn {
      display: block;
    }
  }
  .contacts-section {
    padding: 40px 0;
  }
  .contacts-block {
    .contacts-info {
      padding-right: 35px;
    }
    .contacts-img {
      padding-left: 10px;
      img {
        width: 100%;
      }
    }
  }
  .news-item-img {
    width: 210px;
    height: 213px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .news-item {

    h2 {
      font-size: 21px;
    }
    p {
      clear: both;
    }
  }
  .news-single {
    padding: 24px 40px;
    h1 {
      font-size: 25px;
    }
    .icon-calendar, .icon-user {
      display: block;
      margin-bottom: 8px;
    }
  }
  .new-single-img {
    width: 360px;
    height: 185px;
  }
  .project-item-wrap {
    flex-wrap: wrap;
  }
  .project-item {
    margin: 0 10px 20px;
    width: calc(50% - 20px);
    max-width: 100%;
  }
  .project-section {
    padding: 40px 0;
  }

  .select-equipment-section {
    padding: 40px 0;
    background: $bg-gray;
    .select-equipment-block {
      display: block;
      margin: 0;
    }
    .equipment-item-inner {
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
    }
    .styled-radio {
      width: 48%;
    }
    .select-inline {
      width: 48%;
      padding: 0;
    }
  }
  .equipment-item {
    max-width: 100%;
    min-height: 1px;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .equipment-wrap, .selection-equipment {
    max-width: 600px;
  }
  .project-single-info {
    padding: 25px 40px;
    max-width: 310px;
    margin-left: -120px;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
      font-family: $font-Roboto;
    }
  }
  .project-single-img {
    margin-left: 120px;
    padding: 50px 0;
    background-size: cover;
  }
  .project-single-text {
    padding-left: 0;
    img {
      max-width: 220px;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-bottom: 166px;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .product-block {
    display: block;
  }
  .product-slider {
    max-width: 100%;
  }
  .product-delivery {
    display: block;
    margin-top: 0;
  }
  .product-price {
    max-width: 100%;
    width: 100%;
    padding: 25px 0;
  }
  .product-section {
    padding: 25px 0;
    h1 {
      font-size: 25px;
    }
  }
  .description-section h2 {
    font-size: 21px;
  }
  .description-section {
    padding: 30px 0;
  }
  .reviews-wrap {
    display: block;
  }
  .reviews-photo {
    max-width: 100%;
  }
  .reviews-block {
    padding-left: 0;
  }
  .review-item {
    padding-left: 0;
    background: none;
  }
  .about-us-main h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .about-us-info {
    padding-left: 0;
    padding-top: 120px;
    img {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .about-us-team {
    justify-content: center;
  }
  .about-us-team .team-item {
    margin: 0 15px 45px;
  }
  .category-item-img {
    width: 137px;
    height: 137px;
    display: inline-block;
    float: none;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .category-item-description {
    clear: both;
  }
  .category-item-price {
    float: none;
    display: inline-block;
    margin-top: 7px;
    border-top: 1px solid $color-main;
    padding-top: 7px;
    font-size: 21px;
  }
  .category-item {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
  }
  .category-item h2 {
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    width: calc(100% - 157px);
    font-size: 16px;
    line-height: 1.5;
  }
  .contacts-section {
    &:before {
      width: 100%;
    }
  }
  .contacts-block .contacts-img {
    display: none;
  }
  .contacts-block .contacts-info {
    padding-right: 0;
    width: 100%;
    max-width: 310px;
  }
  .news-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 35px 25px;
    transform: translateX(-100%);
    transition: transform ease .3s;
    &.open {
      transform: translateX(0);
    }
    .close {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  .news-block {
    padding: 22px 0;
    .btn {
      display: block;
      float: right;
    }
  }
  .news-item-img {
    width: 100%;
    height: 280px;
  }
  .new-single-img {
    width: 100%;
    height: 280px;
  }
  .news-single {
    padding: 15px;
  }
  .news-single-text {
    border: none;
    padding-top: 15px;
  }
  .news-single-section {
    padding: 35px 0;
  }

  .search-info-section {
    padding: 25px 0;
    h1 {
      display: block;
      .btn {
        float: none;
        display: block;
        max-width: 300px;
        margin: 10px auto 0;
      }
    }
  }
  .search-result-section {
    padding: 40px 0;
  }
  .info-company-wrap {
    padding: 40px 0;
  }
  .news-single-wrap{
    display: flex;
    flex-wrap: wrap;
    >div{
      width:100%;
    }
    .new-single-img{
      order: 1;
      margin-top:20px;
    }
  }
}

@media screen and (max-width: 651px) {
  .main-info {
    width: 100%;
    margin-right: 0;
  }
  .main-image {
    display: none;
  }

  .advantages {
    .advantages-wrap {
      flex-direction: column;
    }
  }
  .advantages-item {
    width: 100%;
    margin-bottom: 35px;
    .advantages-img {
      display: flex;
      align-items: center;
      img {
        margin-right: 25px;
      }
      h4 {
        display: block;
      }
    }
    .advantages-info {
      h4 {
        display: none;
      }
    }
  }
  .spend-coming-wrap {
    flex-direction: column;
    padding-bottom: 35px;
    .spend-coming {
      width: 100%;
    }
  }
  .project-item {
    width: 100%;
  }
  .select-equipment-section .equipment-item-inner {
    display: block;
    padding: 15px;
  }
  .select-equipment-section .styled-radio {
    width: 100%;
    margin-bottom: 5px;
  }
  .select-equipment-section .select-inline {
    width: 100%;
  }
  .equipment-wrap, .selection-equipment {
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
    .charging-station {
      border-right: 0;
      border-bottom: 1px solid $light-gray;
    }
  }
  .equipment-wrap {
    max-width: 290px;
  }
  .equipment-wrap .equipment {
    width: 100%;

  }
  .selection-equipment {
    padding: 15px 25px;
    max-width: 290px;
    .btn {
      width: 100%;
      min-width: 1px;
    }
  }
  .equipment {
    h3 {
      padding-top: 15px;
    }
  }
  .advantages-section .advantages-wrap {
    display: block;
  }
  .spend-coming-wrap {
    list-style-type: disc;
    padding-left: 20px;
    .spend-coming {
      padding: 0;
      margin-bottom: 15px;
    }
  }
  .project-single-img {
    margin-left: 0;
    padding: 0;
    margin-bottom: 20px;
    img {
      position: static;
    }
  }
  .project-single-section {
    padding: 40px 0;
    .breadcrumbs {
      margin-bottom: 30px;
    }
  }
  .project-single-info {
    margin-left: 0;
    max-width: 100%;
    padding: 32px;
  }
  .project-single-text {
    display: inline-flex;
    flex-direction: column;
    img {
      order: 1;
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-bottom: 23px;
    }
    a {
      order: 2;
    }
  }
  .select-equipment-section h1{
    font-size: 25px;
    text-align: left;
    padding-bottom:10px;
  }
  .select-equipment-section .styled-radio{
    margin-bottom:15px;
  }
}

@media screen and (max-width: 481px) {
  body {
    padding-bottom: 206px;
  }
  .container {
    padding: 0 15px;
  }
  .main-info {
    h1 {
      font-size: 25px;
      line-height: 32px;
      text-align: center;
    }
    p {
      text-align: center;
    }
    a {
      display: block;
      text-align: center;
    }
  }
  .main-info-wrap {
    padding-bottom: 70px;
  }
  .main-btn {
    width: 100%;
  }
  .advantages {
    h3 {
      font-size: 25px;
      text-align: left;
      padding-bottom: 25px;
    }
  }
  .advantages-item {
    .advantages-img {
      h4 {
        font-size: 16px;
      }
    }
  }
  .select-equipment-section .select-inline {
    label {
      margin-bottom: 5px;
    }
    .nice-select {
      width: 100%;
    }
  }
  .equipment-wrap {
    width: 90%;
  }
  .selection-equipment {
    width: 100%;
    padding: 17px 15px;
    margin-bottom: 30px;
    max-width: 290px;
    h3 {
      line-height: 28px;
    }
  }
  .equipment-section {
    padding-bottom: 0;
  }
  .advantages-section h3 {
    text-align: left;
    font-size: 25px;
  }
  .friends-slider .swiper-slide {
    img {
      width: 75%;
    }
  }
  .news-block h1 {
    font-size: 25px;
  }
  .category-block {
    padding-top: 20px;
  }
  .category-block h1 {
    font-size: 25px;
  }
  .category-block .btn {
    float: none;
    margin-top: 10px;
  }
  .new-single-img{
    height:140px;
    margin-bottom:10px;
  }
}


