$bg-gray: #f5f7fa;
$main-text-color: rgba(25, 25, 25, 0.9);
$red: #ee3730;
$dark-red: #d23d3d;
$light-white: rgba(255, 255, 255, 0.9);
$light-blue: #1c7aae;
$body-background: #f5f7fa;

$color-main: #1c78ad;
$color-blue: #1c78ad;
$white: #ffffff;
$gray: #dededd;
$light-gray: #e3e8ee;
$lighten-gray: rgba(153, 153, 153, 0.9);
$color-success: rgba(255, 255, 255, 0.9);

// Базовая типографика

$font-size: 14px;
$font-size--h1: 2.25em;
$font-size--h2: 1.875em;
$font-size--h3: 1.5em;
$font-size--h4: 1.25em;
$font-size--h5: 1em;
$font-size--h6: 1em;
$font-size--small: 0.75em;

$line-height: 1.2;

$font-exo: exo, sans-serif, arial;
$font-Roboto: Roboto, sans-serif, arial;

// Ширины

$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1170px;
$screen-xxl: 1800px;

$container-sm: 100%;
$container-md: 100%;
$container-lg: $screen-lg - 30;
$container-xl: $screen-xl - 30;
$container-xxl: $screen-xxl - 30;
