<!--DEV

Для использования этого файла как шаблона:

@ @include('blocks/select/select.html')


-->

<select class="nice-select">
    <option value="">1</option>
    <option value="">1</option>
    <option value="">1</option>
    <option value="">1</option>
</select>
<!-- /# -->
