// Default variables
$font_size: 16px !default;
$font_size_small: 12px !default;

$input_border_radius: 0 !default;
$input_height: 40px !default;
$input_height_small: 36px !default;
$dropdown_padding: 18px !default;

$select-border: #1c7aae !default;

// Style the dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
  border-radius: $input_border_radius;
  border: solid 1px $select-border;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: $dropdown_padding;
  padding-right: $dropdown_padding + 12;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  &:hover {
    border-color: darken($select-border, 5%);
  }
  &:active, &:focus {
    border-color: $select-border;
  }
  // Arrow
  &:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $select-border;
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: rotate(0);
    transition: all 0.15s ease-in-out;
  }

  &.open {
    @extend :active;
    &:after {
      transform: rotate(-180deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  &.disabled {
    border-color: #eee;
    color: $gray;
    pointer-events: none;
    &:after {
      border-top-color: #eee;
    }
  }

  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  &.right {
    float: right;
    .list {
      left: auto;
      right: 0;
    }
  }
  &.small {
    font-size: $font_size_small;
    height: $input_height_small;
    line-height: $input_height_small - 2;
    &:after {
      height: 4px;
      width: 4px;
    }
    .option {
      line-height: $input_height_small - 2;
      min-height: $input_height_small - 2;
    }
  }

  // List and options
  .list {
    background-color: #ffffff;
    border-radius: $input_border_radius;
    box-shadow: 0 26px 27px -23px rgba(0, 0, 0, 0.31);
    border: 1px solid $select-border;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- $input_height / 2);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    //&:hover .option:not(:hover) {
    //  background-color: transparent !important;
    //}
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: $input_height - 2;
    list-style: none;
    min-height: $input_height - 2;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;
    &.focus, &.selected.focus {
      background-color: $select-border;
      color: #ffffff;
    }
    &:hover {
      background: #eeeeee;
    }
    &.selected {
      background-color: $select-border;
      color: #ffffff;
    }
    &.disabled {
      background-color: transparent;
      color: $gray;
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}
